.background {
  background-color: #00676f;
  width: auto 100%;
  height: 100vh ;
  background-size: cover;
  background-repeat: no-repeat;
}
.color1 {color: }
.color2 {color: }
.color3 {color: #00b96e;}
.color4 {color: }
.color5 {color: }


img.recipeimage {
  width: 40%;
  height: 40%;
  padding: 20px;
}

.recipetitle {
  font-family: "Courier New", Courier, monospace;
  color: #9deb59;;
}

.recipes {
  display: flex;
  
  font-size: 40px;
  
  flex-wrap: wrap;
  padding: 10px;
  margin: 30px;
  text-align: center;
  
}

.recipepreview {
  width: 25%;
}

.column {
  float: left;
  background-color: #ffff7f;
  box-shadow: 10px 5px 5px #003401;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  opacity: 0.81;
  
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* unvisited link */
a:link {
  color: #003401;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(45, 0, 128);
  text-decoration: none;
}


/* mouse over link */
a:hover {
  color: #9deb59;
  text-decoration: underline;
  opacity: 1;
}

/* selected link */
a:active {
  color: blue;
}